<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h7>That's all for today!</h7>
    <h2>Come back tomorrow for more inspiration</h2>
    <div class="button-container">
        <div class="go to home feed -button">
    <a  href="{% url 'pinapp:category' %}" class="btn btn-primary" style="border-radius:20px">go to home feed</a>
    </div>
    </div>
</center>
 

    
</body>
</html>